{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center">Submit your order!</h5>
          </div>
          <div class="container">
          <div class="content-section">
        <form method="POST" id="orderForm" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ order_form|crispy}}
            </fieldset>
        </form>
          </div>
        </div>
          </div>
        <div class="card mb-4">
            <span style="font-size: 11px; font-family: Poppins">We use the data we collect primarily to contact you via e-mail or telephone,
              for the purposes of handling and fulfilling your order,
              including considering complaints and refunding services in the event of withdrawal from the contract.
            </span>
          <div class="card-body">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Your order</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
        Products
        <img src="{{ product.image.url }}" width="167px">
        <span>{{ basket.basket_total }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
        Shipping
        <span id="shipping-info"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
        <div>
            <strong>Total amount</strong>
            <strong>
                <p class="mb-0">(including VAT 23%)</p>
            </strong>
        </div>
        <span><strong id="total-amount"></strong></span>
    </li>
</ul>
            <p class="text-center">
                <button class="btn btn-success" id="submitOrderBtn" value="{{ order.id }}"><a> Go to Payment</a></button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
      document.getElementById('submitOrderBtn').addEventListener('click', function() {
          document.getElementById('orderForm').submit();
      });
document.addEventListener('DOMContentLoaded', function() {
    const deliveryRadio = document.querySelectorAll('input[name="delivery"]');
    const shippingInfo = document.getElementById('shipping-info');
    const totalAmount = document.getElementById('total-amount');


    function calculateTotalAmount(shippingPrice) {
        const productsPrice = parseFloat("{{ basket.basket_total }}");
        const vatRate = 0.23;
        const shipping = parseFloat(shippingPrice);


        let freeDeliveryThreshold;

         if (deliveryRadio[0].checked && productsPrice >= 300) {
        shippingInfo.textContent = '0.00';
    } else if (deliveryRadio[0].checked) {
        shippingInfo.textContent = '15.99';
    } else if (deliveryRadio[1].checked && productsPrice >= 150) {
        shippingInfo.textContent = '0.00';
    } else if (deliveryRadio[1].checked) {
        shippingInfo.textContent = '11.99';
    } else if (deliveryRadio[2].checked && productsPrice >= 100) {
        shippingInfo.textContent = '0.00';
    } else if (deliveryRadio[2].checked) {
        shippingInfo.textContent = '5.99';
    }

    let totalAmountValue;

    if (productsPrice >= freeDeliveryThreshold) {
        totalAmountValue = productsPrice + (productsPrice * vatRate);
    } else {
        totalAmountValue = productsPrice + parseFloat(shippingInfo.textContent) + (productsPrice * vatRate);
    }

    totalAmount.textContent = totalAmountValue.toFixed(2);
}

    deliveryRadio.forEach(function(radio) {
        radio.addEventListener('change', function() {
            const selectedShipping = radio.nextElementSibling.textContent;
            if (selectedShipping === 'Free delivery') {
                shippingInfo.textContent = '0.00';
            } else {
                const shippingPrice = selectedShipping.match(/\d+\.\d{2}/)[0];
                shippingInfo.textContent = shippingPrice;
            }
            calculateTotalAmount(shippingInfo.textContent);
        });
    });

    const initialShippingPrice = document.querySelector('input[name="delivery"]:checked').nextElementSibling.textContent;
    if (initialShippingPrice === 'Free delivery') {
        shippingInfo.textContent = '0.00';
    } else {
        shippingInfo.textContent = initialShippingPrice.match(/\d+\.\d{2}/)[0];
    }
    calculateTotalAmount(shippingInfo.textContent);
});
</script>
{% endblock %}
