<title>Login - Django Shop</title>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-forms-data">
	<div class="screen-login">
		<div class="screen__content">
			<form method="POST" style="color: #fff;">
	  	{% csrf_token %}
		  <fieldset style="border: #212934;" class="form-group-login">
			  <legend class="border-bottom mb-4"> Log in!</legend>
			  {{ form|crispy }}
		  </fieldset>
		<div class="form-group text-center">
			<button class="btn btn-outline-info" type="submit">Login</button>
		</div>
	  </form>
		</div>
	</div>
</div>
{% endblock %}
