{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Hello {{ user.username }} </h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border-bottom mb4">Profile info!</legend>
            {{ user_form|crispy }}
            {{ company_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
{% endblock %}