<title>Profile - Django Shop</title>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Manage your profile</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'order_summary'%}">
                        Orders
                    </a>
                </li>
                {% if user.company %}
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'add-product'%}">
                        Add product
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'user_products'%}">
                        Your Products
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'products_sold'%}">
                        Products Sold
                    </a>
                </li>
                {% endif %}
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'user_reviews' %}">
                        Reviews
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'new_report_view' %}">
                        New Report
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'reports_view' %}">
                        Reports
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-7" style="margin-left: 150px;">
            <div class="container rounded bg-white mt-4 mb-4" style="color: #fff;">
                <div class="row">
                    <div class="col-md-6 border-right" style="background: #212934;">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img class="rounded-circle mt-5" width="150px" src="{{ user.image.url }}">
                            <span class="font-weight-bold">{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="col-md-6" style="background:  #DCDCDC; color: black; ">
                        <div class="p-3 py-5">
                            <h4 class="text-right">Profile Settings</h4>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mt-2">
                                    {{ user_form|crispy }}
                                    {{ company_form|crispy }}
                                </div>
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
