{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>
            <p>
                We are always at your disposal. Contact us how and when you want.
            </p>
        </div>
    </div>
  <section class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><img src="/media/email_contact.png"></div>
                    <h2 class="h5 mt-4 text-center">E-mail</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><img src="/media/phone-contact.png"></div>
                    <h2 class="h5 mt-4 text-center">Phone</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><img src="/media/location_contact.png"></div>
                    <h2 class="h5 mt-4 text-center">Company Building</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><img src="/media/fax_contact.png"></div>
                    <h2 class="h5 mt-4 text-center">Fax</h2>
                </div>
            </div>
            <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Business hours</h1>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Monday:</strong> 09:00 - 18:00</li>
                <li class="pt-2"></li>
            </ul>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Tuesday:</strong> 08:00 - 18:00</li>
                <li class="pt-2"></li>
            </ul>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Wednesday:</strong> 08:00 - 16:00</li>
                <li class="pt-2"></li>
            </ul>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Thursday:</strong> 08:00 - 16:00</li>
                <li class="pt-2"></li>
            </ul>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Friday:</strong> 08:00 - 14:00</li>
                <li class="pt-2"></li>
            </ul>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-left: 200px;">
                <li><strong>Saturday:</strong> 09:00 - 14:00</li>
                <li class="pt-2"></li>
            </ul>
        </div>
    </div>
        </div>
  </section>
{% endblock %}
