{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./media/products_pics/banner01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Django</b> Shop</h1>
                                <h3 class="h2">The Perfect eCommerce For You!</h3>
                                <p>Django Shop the most popular shopping platform in Poland and one of the largest e-commerce companies in Europe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Hero -->
<!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='electronics' %}"><img src="./media/products_pics/electronics.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Electronics</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='electronics' %}">Go</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='sport' %}"><img src="./media/products_pics/sport.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Sport</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='sport' %}">Go</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='fashion' %}"><img src="./media/products_pics/t-shirt.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Fashion</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='fashion' %}">Go</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->

    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                </div>
            </div>
            <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
            <a href="{% url 'detail-product' product.id %}">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                    <span>Rating {% if product.avg_rating %}{{ product.avg_rating }}{% else %}0{% endif %}</span>
                    <li class="text-muted text-right">{{ product.price }}</li>
                </ul>
                <a href="{% url 'detail-product' product.id %}" class="h2 text-decoration-none text-dark">{{ product.name }}</a>
                <p class="card-text">{{ product.description }}</p>
                <p class="text-muted">Comments ({% if product.comments_count %}{{ product.comments_count }}{% else %}0{% endif %})</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock %}
