{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./media/products_pics/banner01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Django</b> Shop</h1>
                                <h3 class="h2">The Perfect eCommerce For You!</h3>
                                <p>Django Shop the most popular shopping platform in Poland and one of the largest e-commerce companies in Europe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Hero -->
<!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='electronics' %}"><img src="./media/products_pics/electronics.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Electronics</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='electronics' %}">Go</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='sport' %}"><img src="./media/products_pics/sport.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Sport</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='sport' %}">Go</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category-product' category='fashion' %}"><img src="./media/products_pics/t-shirt.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Fashion</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category-product' category='fashion' %}">Go</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./media/products_pics/lego.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">240.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">LEGO Disney Hocus Pocus</a>
                            <p class="card-text">
                                Capture the magic of the movie with the LEGO Ideas Disney Hocus Pocus: Sanderson's Cabin collectible set.
                                The house can be opened in many ways to reveal interior details.
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./media/products_pics/watch.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">480.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Smartband SAMSUNG Fit 3</a>
                            <p class="card-text">
                                Powerful power that will last up to 13 days on a single charge¹.
                                Fast top-up to 65% in just 30 minutes avoids long interruptions in use.
                                You can finally fully focus on your daily challenges.
                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./media/products_pics/bike.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">1160.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Bike INDIANA X-Pulser</a>
                            <p class="card-text">
                                The INDIANA X-Pulser 1.6 mountain bike is the perfect choice for people who like an active lifestyle and like to spend time outdoors.
                                This solid and reliable bike was designed for mountainous terrain and difficult conditions .
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock %}