{% extends 'base.html' %}
{% block content %}
<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='electronics' %}">
                        Electronics
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='fashion' %}">
                        Fashion
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='sport' %}">
                        Sport
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='kid' %}">
                        Kid
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='automotive' %}">
                        Automotive
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'category-product' category='beauty' %}">
                        Beauty
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Sale
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Featured</option>
                            <option>A to Z</option>
                            <option>Item</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    </div>
                </div>
                <div class="card-body">
                    <a href="{% url 'detail-product' product.id %}" class="h3 text-decoration-none">{{ product.name }}</a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>{{ product.data_added }}</li>
                        <li class="pt-2">
                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-center mb-0">{{ product.price }}</p>
                </div>
                <p class="text-center"><a class="btn btn-success" href="{% url 'detail-product' product.id %}">Look</a></p>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
</div>
</div>

<!-- End Content -->
<div class="row">
    <ul class="pagination pagination-lg justify-content-end">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</div>

    <!--End Brands-->
<!--<h1>List of products</h1>-->
<!--<div class="products-container">-->
<!--  {% for product in products %}-->
<!--    <div class="product-item">-->
<!--      <div class="product-image">-->
<!--        <img src="{{ product.image.url }}" alt="{{ product.name }}">-->
<!--      </div>-->
<!--      <div class="product-details">-->
<!--          <h2><a class="product-name" href="{% url 'detail-product' product.id %}">{{ product.name }}</a></h2>-->
<!--        <p class="product-price">Price: {{ product.price }}</p>-->
<!--        <p class="product-seller">Seller: {{ product.seller }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--</div>-->
{% endblock %}