{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-10">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h1 class="text-center">Your products</h1>
          </div>
          <div class="row justify-content-center">
            {% for product in products %}
              <div class="col-md-5" style="margin: 10px;">
                <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{% url 'detail-product' product.id %}" class="h3 text-decoration-none">{{ product.name }}</a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                      <li>{{ product.data_added }}</li>
                      <li class="pt-2"></li>
                    </ul>
                    <div class="text-center">
                      <a href="{% url 'product-update' pk=product.pk %}" class="btn btn-success d-inline-block mr-2" style="margin: 5px;">Update</a>
                      <a href="{% url 'product-delete' pk=product.pk %}" class="btn btn-danger d-inline-block" style="background: #eb0d0d;">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
          <div class="row">
    <ul class="pagination pagination-lg justify-content-end">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
