{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Review</legend>
            <img src="{{ product.image.url }}">
            <h3>Are you sure you want to delete?</h3>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes</button>
            <a class="btn btn-outline-secondary" href="{% url 'user_reviews' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
