<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'templatemo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome.min.css' %}"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {% if title %}
        <title>Shop - {{ title }}</title>
    {% else %}
        <title>Django Shop</title>
    {% endif %}
</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <img src="/media/email.png">
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:shop@django.com">shop@django.com</a>
                    <img src="/media/phone.png">
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:999-999-999">999-999-999</a>

                </div>
                <div>
                    <a class="text-light" href="https://www.facebook.com/" target="_blank"><img src="/media/facebook.png" alt="Facebook Logo"></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><img src="/media/instagram.png" alt="Instagram Logo"></a>
                    <a class="text-light" href="https://www.twitter.com/" target="_blank"><img src="/media/twitter.png" alt="Twitter Logo"></a>
                    <a class="content-link" href="https://www.linkedin.com/" target="_blank"><img src="/media/linkedin.png" alt="Linkedin Logo"></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
 <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                Django Shop
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'products-list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'add-product' %}">Add Product</a>
                        <a class="nav-item nav-link" href="#" onClick="document.getElementById('logoutForm').submit()">Logout</a>
                        <form id="logoutForm" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        <a class="nav-icon position-relative text-decoration-none" href="{% url 'basket_summary' %}" target="_self"><img src="/media/basket.png" style="padding-top: 10px; margin-left: 10px;">
                            <span class="position-static  top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" id="basket_quantity">{{ basket|length }}</span>
                        </a>
<!--                        <a class="nav-item nav-link" href="{% url 'basket_summary' %}" target="_self"><img src="/media/basket.png"></a>-->
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </nav>
    <!-- Close Header -->
<!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</main>
 <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Django Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <img src="/media/location.png">
                            W Carroll Ave, Chicago
                        </li>
                        <li>
                            <img src="/media/phone.png">
                            <a class="text-decoration-none" href="tel:010-020-0340">999-999-999</a>
                        </li>
                        <li>
                            <img src="/media/email.png">
                            <a class="text-decoration-none" href="mailto:info@company.com">shop@django.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Category</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='electronics' %}">Electronics</a></li>
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='fashion' %}">Fashion</a></li>
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='sport' %}">Sport</a></li>
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='kid' %}">Kid</a></li>
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='automotive' %}">Automotive</a></li>
                        <li><a class="text-decoration-none" href="{% url 'category-product' category='beauty' %}">Beauty</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light" href="https://www.facebook.com/" target="_blank"><img src="/media/facebook.png" alt="Facebook Logo"></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="content-link" href="https://www.instagram.com/" target="_blank"><img src="/media/instagram.png" alt="Instagram Logo"></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="content-link" href="https://www.twitter.com/" target="_blank"><img src="/media/twitter.png" alt="Twitter Logo"></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="content-link" href="https://www.linkedin.com/" target="_blank"><img src="/media/linkedin.png" alt="Linkedin Logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
</body>
</html>