.content-section {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
  border: 2px solid #59ab6e;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 40px;
}

.btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #59ab6e;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #59ab6e;
}

.text-muted {
  color: #777;
}

legend {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

fieldset {
  border: 2px solid #59ab6e;
  padding: 40px;
  border-radius: 15px;
}

.small {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

a:hover {
  text-decoration: underline;
}

 .trash {
        padding: 12px;
        margin-top: 30px;
    }
    .update-basket {
        margin-top: 8px;
        padding: 6px;
        color: black;
    }

.highlighted {
  border: 2px solid #28a745;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.container-forms-data {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 80px;
}
.screen{
    color: #fff;
    background: #212934;
	position: relative;
	height: 300px;
	width: 500px;
	border-radius: 20px;
}

.screen-login {
	background: #212934;
	position: relative;
	height: 600px;
	width: 500px;
	border-radius: 20px;
}
.screen-forms {
	background: #212934;
	position: relative;
	height: 950px;
	width: 650px;
	border-radius: 20px;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}
.form-group-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.screen-review {
	background: #212934;
	position: relative;
	height: 700px;
	width: 650px;
	border-radius: 20px;
}

.screen-product {
	background: #212934;
	position: relative;
	width: 650px;
	border-radius: 20px;
}

.screen-delete {
	background: #212934;
	position: relative;
	height: 750px;
	width: 650px;
	border-radius: 20px;
}
