/*body {
  background: #F8F8FF;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #191970;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}*/
.content-section {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
  border: 2px solid #59ab6e;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 40px;
}

.btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  /*background-color: #59ab6e;*/
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: #59ab6e;
}

.text-muted {
  color: #777;
}

legend {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

fieldset {
  border: 2px solid #59ab6e;
  padding: 40px;
  border-radius: 15px;
}

.small {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

 .trash {
        padding: 12px;
        margin-top: 30px;
    }
    .update-basket {
        margin-top: 8px;
        padding: 6px;
        color: black;
    }

.highlighted {
  border: 2px solid #28a745;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}